.navbar {
    height: 5rem;
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'montserrat' !important;
}

.container {
    flex: 1;
}

/* ICON */

.fa-compass {
    font-size: 3rem;
    color: #fe424d;
}

/* NAVBAR */

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222 ;
}

.f-info-links a:hover {
    text-decoration: underline; 
}

.f-info {
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: rgb(231, 227, 227);
    flex-wrap: wrap;
    justify-content: center;
}

.f-info-social, 
.f-info-links, 
.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-social i {
    font-size: 1.3rem;
    margin-right: 1rem;
}

/* HOME PAGE */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
   font-weight: 400 !important;
}

.card-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* NEW PAGE */

.add-btn {
    background-color: #fe424d !important;
    color: white !important;
}

/* EDIT PAGE */

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* SHOW PAGE */

.show-image {
    height: 40vh;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}